* {
	box-sizing: border-box;
	margin:0;
}
	
body {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	width: 100%;
}

h1 {
	color: #00A79D;
	margin-top: 19px;
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	font-weight: 700; 
	padding: 0; 
	text-align: center;
}

form {
	align-items:center;
	display:flex;
    flex-direction:column;
    justify-content:center;
    width: 40%;
    margin: auto;
}

.box-text {
	color: #6D6E71;
}

.top {
	align-items:center;
	background-color: #E5F3F2;
	display:flex;
	flex-direction: column;
	height: 270px;
	justify-content:center;
	width: 100%;
}

.form-input {
	border: 1px solid #939598;
	color: #939598;
	font-size: 1em;
	margin-bottom: 3%;
	padding: 1%;
	width: 100%;
} 

.save-btn {
	background-color: #00A79D;
	border: 0;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 400;
	padding: 1%;
	width: 100%;
	margin:auto;
}

.save-btn:hover {
	background-color: #045E55;
	color: #FFFFFF;

}

.bottom {
	height: 65%;
	width: 100%;
}

.search {
	border: 1px solid #939598;
	color: #939598;
	font-size: 1em;
	margin: 3% 0 2% 30%;
	padding: .45%;
	width: 40%;
}

.idea-cards {
	box-sizing: border-box;
	margin: auto;
	width: 40%;
	border-bottom: 2px solid #D1D3D4;
	padding-bottom: 20px;
	color: #6D6E71;
}

.append-idea {
	margin: 20px 0% 0% 0%;
	font-weight: bold;
	font-family: serif;
	font-size: 30px;
	color: #6D6E71;
	padding-bottom: 18px;
}

.append-body {
	font-size: 20px;
	color: #939598;
}

.quality {
	padding-top: 20px;
	padding-bottom: 7px;
	margin-left: 20px;
	font-size: 18px;
	display: inline-block;
	font-family: serif;
	color: #6D6E71;
}

.up-vote {
	background-color: white;
	background-image: url("images/upvote.svg");
	border-radius: 100%;
	border: none;
	padding: 0;
	height: 30px;
	width: 30px;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.up-vote:hover{
	background-image: url("images/upvote-hover.svg");
}

.down-vote {
	background-color: white;
	background-image: url("images/downvote.svg");
	border-radius: 100%;
	border: none;
	padding: 0;
	height: 30px;
	width: 30px;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.down-vote:hover{
	background-image: url("images/downvote-hover.svg");
}

.delete {
	background-color: white;
	background-image: url("images/delete.svg");
	background-repeat: no-repeat;
	border-radius: 100%;
	border: none;
	padding: 0;
	height: 30px;
	width: 30px;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.delete:hover{
	background-image: url("images/delete-hover.svg");
}

.card-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media only screen and (max-width: 400px) {
		form {
			width: 92%;
		}

		.body-input{
			height: 100px;
			t
		}

		.save-btn {
			height: 42px;
			margin: 5px 0 5px 0;
		}
		
		.bottom {
			height: 50%;
		}

		.top{
			height: 50%
		}

		.search{
			width: 92%;
			margin: 5px 0 5px 13px;
		}

		.idea-cards{
			width: 92%;
		}
};







