* {
	box-sizing: border-box;
	margin:0;
}
	
body {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	width: 100%;
}

h1 {
	color: #00A79D;
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	font-weight: 700; 
	padding: 0 0 2% 0; 
	text-align: center;
}

form {
	align-items:center;
	display:flex;
    flex-direction:column;
    justify-content:center;
    width: 40%;
    margin: auto;
}

.box-text {
	color: #6D6E71;
}

.top {
	align-items:center;
	background-color: #E5F3F2;
	display:flex;
	flex-direction: column;
	height: 35%;
	justify-content:center;
	width: 100%;
}

.form-input {
	border: 1px solid #939598;
	color: #939598;
	font-size: 1em;
	margin-bottom: 3%;
	padding: 1%;
	width: 100%;
} 

.save-btn {
	background-color: #00A79D;
	border: 0;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 400;
	padding: 1%;
	width: 100%;
	margin:auto;
}

.save-btn:hover {
	background-color: #045E55;
	color: #FFFFFF;

}

.bottom {
	height: 65%;
	width: 100%;
}

.search {
	border: 1px solid #939598;
	color: #939598;
	font-size: 1em;
	margin: 3% 0 2% 30%;
	padding: .45%;
	width: 40%;
}

.idea-cards {
	box-sizing: border-box;
	margin: auto;
	width: 40%;
	border-bottom: 1px solid black;
}

.append-idea {
	margin: 0 60% 0% 0%;
}

@media only screen and (max-width: 400px) {
		form {
			width: 92%;
		}

		.body-input{
			height: 100px;
			t
		}

		.save-btn {
			height: 42px;
			margin: 5px 0 5px 0;
		}
		
		.bottom {
			height: 50%;
		}

		.top{
			height: 50%
		}
}













